:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

    --accent: #646cff;
    --border-width: 6px;
    --border-radius: 50px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
}

.toggle-component {
  display: flex;
  flex-direction: column;
}

.url-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  margin-top: 2rem;
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  margin-top: 2rem;
}

.url-textarea {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  font-size: 1.0rem;
}

.paste-button {
  border-radius: 8px;
  width: 10%;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin: 10px;
}

.text-paste-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-textarea {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 500px;
  margin: 10px 0;
  font-size: 1.5rem;
}

.paste-article-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 50px;
}

button:hover {
  background-color: #646cff;
}

.hidden {
  display: none;
}

.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Fancy toggle */
.toggle {
  position: relative;
  border: solid var(--border-width) var(--accent);
  border-radius: var(--border-radius);
  transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
  transform-style: preserve-3d;
  perspective: 800px;
}

.toggle>input[type="radio"] {
  display: none;
}

.toggle>#choice1:checked~#flap {
  transform: rotateY(-180deg);
}

.toggle>#choice1:checked~#flap>.content {
  transform: rotateY(-180deg);
}

.toggle>#choice2:checked~#flap {
  transform: rotateY(0deg);
}

.toggle>label {
  display: inline-block;
  min-width: 170px;
  padding:20px;
  font-size: var(--font-size);
  text-align: center;
  color: var(--accent);
  cursor: pointer;
}

.toggle>label,
.toggle>#flap {
  font-weight: bold;
  text-transform: capitalize;
}

.toggle>#flap {
  position: absolute;
  top: calc( 0px - var(--border-width));
  left: 50%;
  height: calc(100% + var(--border-width) * 2);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  background-color: var(--accent);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content {
  color: #333;
  transition: transform 0s linear .25s;
  transform-style: preserve-3d;
}
